.imperiofondorojo {
  background-color: rgb(91, 8, 8);
  color: yellow;
  list-style: none;

}
.rebeldesfondoazul{
    background-color: rgb(34, 34, 203);
    color: yellow;
    list-style: none;
}

#letravader {
    font-size: xx-large;
}

#tipoluke {
font-style: italic;

}